[Unit]
Description=Opsw, a modern open source linux cluster management
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/opsw work --conf /etc/config/opsw.yaml
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=5
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=1048576
Delegate=yes
KillMode=process

[Install]
WantedBy=multi-user.target